---
http_interactions:
- request:
    method: get
    uri: https://www.bikereg.com/api/search?name=The%20Grand&states=IA&year=2021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"CompletionTime":0,"MatchingEvents":[{"Categories":[{"CategoryID":592123,"CategoryName":"Friday
        Night Women''s Clinic @ The Grand","Distance":"   ","EntryFee":0.0000,"EntryFees":[{"EntryFee":0.0000},{"EntryFee":0.0000}],"FieldLimit":30,"StartTime":"16:45:00"},{"CategoryID":592091,"CategoryName":"Men:
        Masters 35+","Distance":"45 minutes","EntryFee":25.0000,"EntryFees":[{"EntryFee":25.0000},{"EntryFee":35.0000}],"FieldLimit":0,"StartTime":"10:25:00"},{"CategoryID":592092,"CategoryName":"Men:
        Masters 45+","Distance":"45 minutes","EntryFee":25.0000,"EntryFees":[{"EntryFee":25.0000},{"EntryFee":35.0000}],"FieldLimit":0,"StartTime":"10:25:00"},{"CategoryID":592093,"CategoryName":"Men:
        Masters 55+","Distance":"45 minutes"[...]
